<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org">
<head>
<title>みたい本リスト</title>
<meta charset="utf-8" />
</head>
<body>
    <h1>できること</h1>
    <table>
        <thead>
            <tr>
                <th>マイページへ</th>
                <th>ユーザー一覧へ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                	<a href="/index">クリック</a>

                </td>
                <td>
                	<a href="/userlist">クリック</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
