<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org">
<head>
<title>ユーザーリスト</title>
<meta charset="utf-8" />
</head>
<body>
    <h1>ユーザー一覧</h1>
    <table>
        <thead>
            <tr>
                <th>USER ID</th>
                <th>USER NAME</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${userList}">
                <td class="center" th:text="${user.user_id}"></td>
                <td th:text="${user.user_name}"></td>

            </tr>
        </tbody>
    </table>
</body>
</html>