<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.UserMapper">
    <select id="userPlanBookList" resultType="com.example.demo.entity.Book">
    	SELECT a.USER_ID, b.BOOK_RECORD_NO, b.READ_NAME FROM USER_TABLE a INNER JOIN BOOK_PLAN_TABLE2 b ON b.USER_ID = a.USER_ID WHERE b.USER_ID = #{id} AND b.READ_FLAG = 0 ORDER BY b.BOOK_RECORD_NO;
    </select>
    <select id="userPostBookList" resultType="com.example.demo.entity.Book">
    	SELECT a.USER_ID, b.BOOK_RECORD_NO, b.READ_NAME FROM USER_TABLE a INNER JOIN BOOK_PLAN_TABLE2 b ON b.USER_ID = a.USER_ID WHERE b.USER_ID = #{id} AND b.READ_FLAG = 1 ORDER BY b.BOOK_RECORD_NO;
    </select>
    <select id="select" resultType="com.example.demo.entity.Book">
    	SELECT USER_ID, BOOK_RECORD_NO, READ_NAME FROM BOOK_PLAN_TABLE2 WHERE USER_ID = #{user_id} AND BOOK_RECORD_NO = #{book_id};
    </select>
    <delete id="delete">
    	DELETE FROM BOOK_PLAN_TABLE2 WHERE USER_ID = #{user_id} AND BOOK_RECORD_NO = #{book_id};
    </delete>
</mapper>